<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise 1</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="exercise">
       <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
        <hr>
        <p>Question 1</p>
        <p>VueJS is pretty cool - YOUR_NAME (AGE)</p>
        <p v-once>VueJS is pretty cool - and my name is {{yourName}} and I have {{myAge}}</p>

        <!-- 2) Output your age, multiplied by 3 -->
        <hr>
        <p>Question 2</p>
        <!-- Version 1 -->
        <!-- <input type="button" value="Click here" v-on:click="ageMultiplier">
        <p>MyAge x 3: {{myAge}}</p> -->
        <!-- Version 2 -->
        <input type="number" v-on:input="ageMultiplier">
        <p>MyAge x {{multiplier}}: {{age}}</p>

        <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
        <hr>
        <p>Question 3</p>
        <p>RANDOM NUMBER BETWEEN 0 AND 1</p>
        <!-- <input type="button" value="Click here to Genereate a number" v-on:click="getRandomNumber"> -->
        <button v-on:click="randomNumber">Click</button>
        <p>{{rNum}}</p>

        <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
        <hr>
        <p>Question 4</p>
        <div>
            <img style="width:200px;height:150px" v-bind:src="imgLink">
        </div>
        <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
        <hr>
        <p>Question 5</p>
        <div>
            <input type="text" v-bind:value="yourName">
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>